/* Standard ParallaxPage Styling  */
.ParallaxPage{
	height: 80vh;
	overflow: scroll;
	margin: auto;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
		height: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}

/*Standard container styling */

.ParallaxPage .container{
	background-color: inherit;
  color: inherit;
  height: 100%;
  overflow: auto;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.ParallaxPage .row{
	margin-left: 5vw;
	margin-right: 5vw;
}


@media (max-width: 576px) {

  .ParallaxPage .row {
    margin-left: 0px;
    margin-right: 0px;
  }

}

/* Bootstrap Override */

.ParallaxPage a {
	color: inherit;
}

/* Custom styling */

.ParallaxPage {
	font-family: "Raleway";
}

.ParallaxPage h1{
	font-size: 3rem;
	font-family: 'Sonora';
}

.ParallaxPage h2{
	font-size: 2.5rem;
	font-family: 'Sonora';
}

.ParallaxPage h3{
	font-size: 2rem;
}

.ParallaxPage h4{
	font-size: 1.5rem;
}


.bgimg1, .bgimg2, .bgimg3, .bgimg4 {
	position: relative;
	background-attachment: fixed;
  background-position: center;
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
}

.bgimg1 {
	background-image: url('../../img/pool.jpg');
	background-color: rgb(48, 48, 48);
}

.bgimg2 {
	background-image: url('../../img/pinball.jpg');
	background-color: rgb(130, 130, 130);
}

.bgimg3 {
	background-image: url('../../img/art.jpg');
	background-color: rgb(48, 48, 48);
}

.bgimg4 {
	background-image: url('../../img/owners.jpg');
	background-color: rgb(130, 130, 130);
}

.captionline {
	position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.captionbox {
  background-color: rgba(0,0,0,.8);
  padding: 15px;
  font-size: 3rem;
  letter-spacing: 10px;
}
