.Home {
  background-color: inherit;
  color: inherit;
  height: 100%;
  overflow: auto;
}

.Home h1 {
  font-family: 'Sonora';
}
.Home h3 {
  font-family: 'Raleway';
}
.Home h4 {
  font-family: 'Roboto';
}

.Home .row {
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (max-width: 576px) {

  .Home .row {
    margin-left: 0px;
    margin-right: 0px;
  }

}
