/* Standard Navigation Bar Styling */
.NavigationBar {
	height: 100%;
	font-family: 'Sonora';
	font-size: 3vh;
}

#logo {
	height: 10vh;
	width: 10vh;
	margin-top: 1vh;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

/* Bootstrap overrides */
.nav-link {
	color: inherit!important;
	border-bottom: 1px transparent solid;
}

.navbar {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px transparent solid;
}
