.NavigationBar {
	height: 100%;
	font-family: 'Damion';
	font-size: 3vh;
}

.social-icons {
	justify-content: center;
}

#logo {
	height: 10vh;
	width: 10vh;
	margin-top: 1vh;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 1vh;
}

/* Bootstrap overrides */
.nav-link {
	color: inherit!important;
	border-bottom: 1px transparent solid;
}

.nav-link:hover {
	border-bottom: 1px white solid;
	color: white!important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 216, 25, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.navbar {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}
