.Router{
	height: 80vh;
	overflow: scroll;
	margin: auto;
	/* The image used */
  background-image: url("../../img/fbcover.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}
