/* Standard Router Styling  */
.Router{
	height: 80vh;
	overflow: scroll;
	margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
		height: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}

/*Standard container styling */

.Router .container{
	background-color: inherit;
  color: inherit;
  height: 100%;
  overflow: auto;
}

.Router .row{
	margin-left: 5vw;
	margin-right: 5vw;
}


@media (max-width: 576px) {

  .Home .row {
    margin-left: 1vw;
    margin-right: 1vw;
  }

}

/* Bootstrap Override */

.Router a {
	color: inherit;
}

/* Custom styling */

.Router {
	font-family: "Raleway";
}

.Router h1{
	font-size: 4rem;
	font-family: 'Sonora'
}

.Router h2{
	font-size: 3rem;
	font-family: 'Sonora'
}

.Router h3{
	font-size: 2rem;
}

.Router h4{
	font-size: 1.5rem;
}
